$secondary: #54577c;
$correct: #00a300;
$error: #ff3434;
$background: rgb(40, 40, 40);

.subscribe-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .modal {
    background-color: $background;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
  }

  .modal h1 {
    margin-top: 0;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
  }

  .modal form {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    margin-inline: 0;
  }

  .close-button {
    font-size: 35px;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }

  .modal input {
    margin-bottom: 10px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px;
  }
  button {
    margin-bottom: 10px;
  }
}
